@model IEnumerable<MVC_Review_Site_Project.Models.Category>
<div class="container">
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>

    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.BrandName)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Price)

        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container">

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">
                @Html.DisplayFor(modelItem => item.BrandName)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Price)
            </div>
            <div class="col">
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
            </div>
        </div>
    }

</div>
