@model MVC_Review_Site_Project.Models.Review

@{
    ViewBag.Title = "Details";
}
<div class="container" id="reviewsdetails">
    <h2>Details</h2>

    <div>
        <h4>Review</h4>
        <hr />

        <h2>Card</h2>

        <div class="card">
            <img src="img_avatar.png" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>John Doe</b></h4>
                <p>Architect & Engineer</p>@*//I put the card here because this is the page it is supposed to show up on.*@
            </div>


            <div class="container">
                    <div class="row">
                        <div class="col">
                            @Html.DisplayNameFor(model => model.Category.BrandName)
                        </div>
                    </div>
                    <div class="col">
                        @Html.DisplayFor(model => model.Category.BrandName)
                    </div>
                <div class="col">
                    @Html.DisplayNameFor(model => model.UserTitle)
                     </div>
                <div class="col">
                    @Html.DisplayFor(model => model.UserTitle)
                </div>

                <div class="col">
                    @Html.DisplayNameFor(model => model.Content)
                </div>

                <div class="col">
                    @Html.DisplayFor(model => model.Content)
                </div>

                <div class="col">
                    @Html.DisplayNameFor(model => model.UserPublishDate)
                </div>

                <div class="col">
                    @Html.DisplayFor(model => model.UserPublishDate)
                </div>
            </div>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewPrimaryID }) |
            <button class="button" id="reviewsdetails">  @Html.ActionLink("Back to List", "Index")</button>@*// i made this button as a test to make sure that my styling was showing up.*@
        </p>
    </div>
</div>