@model IEnumerable<MVC_Review_Site_Project.Models.Review>

@{
    ViewBag.Title = "Index";
}
<div class="container" id="reviewsindex">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div class="container">
        @*//switched from tables to divs*@
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Category.BrandName)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.UserTitle)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Content)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.UserPublishDate)
        </div>
        <div class="col">

        </div>
    </div>
</div>
<div class="container">
    @foreach (var item in Model)
    {<div class="row">
            <div class="col">
                @Html.DisplayFor(modelItem => item.Category.BrandName)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.UserTitle)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.Content)
            </div>
            <div class="col">
                @Html.DisplayFor(modelItem => item.UserPublishDate)
            </div>
            <div class="col">
                @Html.ActionLink("Edit", "Edit", new { id = item.ReviewPrimaryID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ReviewPrimaryID }) |
                <button class="button" id="reviewindex"> @Html.ActionLink("Delete", "Delete", new { id = item.ReviewPrimaryID })</button>@*//see my comment in the Review details html.*@
            </div>
        </div>

    }

</div>
</div>
